PUBLIC_SUPABASE_URL=https://gibeljhxbjmfohymsyvx.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_sSu0tMTELo6PJjpF9ZDmcg_85D7_JQQ
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
